{% extends 'parametro/parametros.html' %}
{% load static %}

{% comment %} {% block title %}

{% endblock title %} {% endcomment %}

{% block button %}
    <a href="{% url 'asociado:crearAsociado' %}"><i class="fa-solid fa-plus"></i></a>
{% endblock button %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'parametro:parametro' %}">Parametros</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tipo Auxilio</li>
{% endblock breadcrumb %}

{% block barraLateral %}
    <li class="list-group-item"><a href="{% url 'parametro:pais' %}" style="text-decoration:none">Paises Repatriación</a></li>
    <li class="list-group-item active"><a href="{% url 'parametro:parentesco' %}" style="text-decoration:none; color:white">Parentesco</a></li>
    <li class="list-group-item"><a href="{% url 'parametro:tarifa' %}" style="text-decoration:none">Tarifas</a></li>
    <li class="list-group-item"><a href="{% url 'parametro:tipoAsociado' %}" style="text-decoration:none">Tipo Asociado</a></li>
    <li class="list-group-item"><a href="{% url 'parametro:tipoAuxilio' %}" style="text-decoration:none">Tipo Auxilio</a></li>
{% endblock barraLateral %}

{% block contenidoParametros %}

        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>    
            </thead>
            <tbody>
                {% for obj in query %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ obj.nombre }}</td>
                        <td>Editar</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock contenidoParametros %}





    