<div class="modal-dialog modal-xs" role="document">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle</h1>
          <hr>
          <h2 class="modal-title fs-5" id="exampleModalLabel">{{query.nombre}} {{query.apellido}}</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            

        
                {% comment %} input completo {% endcomment %}
                <h2 class="modal-title fs-5" id="exampleModalLabel">Información Pago</h2>
                <hr>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Asociado</span>
                    <input type="text" class="form-control" value="{{ query.asociado.nombre }} {{ query.asociado.apellido }}" type="text" disabled>      
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Fecha Pago</span>
                    <input type="text" class="form-control" value="{{ query.fechaPago|date:"d-m-Y" }} " disabled >      
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Mes Pago</span>
                    <input type="text" class="form-control" value="{{ query.mesPago.concepto}} " disabled >      
                </div>
                <hr>
                <h2 class="modal-title fs-5" id="exampleModalLabel">Valores</h2>
                <hr>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">Valor Total</span>
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" id="valorPago" name="valorPago" value="{{ query.valorPago }}" type="number" disabled>      
                </div>
                {% comment %} input completo {% endcomment %}
                {% if query.diferencia > 0 or query.diferencia < 0 %}
                  <hr>
                  <h2 class="modal-title fs-5" id="exampleModalLabel">Saldos</h2>
                  <hr>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3" {% if query.diferencia < 0 %}  style="color:#DF5B68" {% else %} style="color:#198754" {% endif %} ><b>{% if query.diferencia > 0 %}Saldo a Favor{% else %}Saldo Pendiente{% endif %}</b></span>
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="diferencia" value="{{query.diferencia}}" name="diferencia" type="number" disabled>
                  </div>
                {% endif %}

        </div>
      </div>
    </div>
  </div>