<div class="modal-dialog modal-lg" role="document">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Asociado:</h1>
          <hr>
          <h2 class="modal-title fs-5" id="exampleModalLabel"></h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'asociado:editarAsociado' pkAsociado %}" method="post">

                <div class="col-sm-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                    </div>
                </div>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
            </form>
        </div>
      </div>
    </div>
  </div>