{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coohobienestar</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }

        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .loading-text {
            margin-top: 20px;
            font-size: 24px;
            color: #555;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="loader"></div>
        <div class="loading-text">Cargando...</div>
    </div>
</body>
</html>


{% if formato == 3 %}
    <form style="display:none">
        <input type="text" id="id_formato" value="{{formato}}">
        <input type="date" id="id_fechaActual" value="{{fechaActual|date:"Y-m-d"}}">
        <input type="text" id="id_nombre" value="{{objAsoc.nombre}}">
        <input type="text" id="id_apellido" value="{{objAsoc.apellido}}">
        <input type="text" id="id_tipoDocumento" value="{{objAsoc.tipoDocumento}}">
        <input type="text" id="id_numDocumento" value="{{objAsoc.numDocumento}}">
        <input type="date" id="id_fechaExpedicion" value="{{objAsoc.fechaExpedicion|date:"Y-m-d"}}">
        <input type="text" id="id_mpioDoc" value="{{objAsoc.mpioDoc}}">
        <input type="date" id="id_fechaNacimiento" value="{{objNac.fechaNacimiento|date:"Y-m-d"}}">
        <input type="text" id="id_direccion" value="{{objResidencia.direccion}}">
        <input type="text" id="id_barrio" value="{{objResidencia.barrio}}">
        <input type="text" id="id_mpioResidencia" value="{{objResidencia.mpioResidencia}}">
        <input type="text" id="id_numCelular" value="{{objAsoc.numCelular}}">
        <input type="text" id="id_email" value="{{objAsoc.email}}">
        <input type="text" id="id_nombreEmpresa" value="{{objLaboral.nombreEmpresa}}">
        <input type="text" id="id_cargo" value="{{objLaboral.cargo}}">
        <input type="text" id="id_ingresosActPrin" value="{{objFinanciera.ingresosActPrin}}">
        <input type="text" id="id_telefono" value="{{objLaboral.telefono}}">
        <input type="text" id="id_banco" value="{{objLaboral.banco}}">
        <input type="text" id="id_numCuenta" value="{{objLaboral.numCuenta}}">
        <input type="text" id="id_tipoAuxilio" value="{{objAuxilio.tipoAuxilio.pk}}">
        <input type="text" id="id_envioInfoCorreo" value="{{objAsoc.envioInfoCorreo}}">
        <input type="text" id="id_envioInfoMensaje" value="{{objAsoc.envioInfoMensaje}}">
        <input type="text" id="id_envioInfoWhatsapp" value="{{objAsoc.envioInfoWhatsapp}}">

        <input type="text" id="id_nombre2" value="{{objAuxilio.nombre}}">
        <input type="text" id="id_numDoc2" value="{{objAuxilio.numDoc}}">
        <input type="text" id="id_parentesco" value="{{objAuxilio.parentesco}}">
        <input type="text" id="id_nivelEducativo" value="{{objAuxilio.nivelEducativo}}">
        
        <input type="text" id="id_anexoOne" value="{{objAuxilio.anexoOne}}">
        <input type="text" id="id_anexoTwo" value="{{objAuxilio.anexoTwo}}">
        <input type="text" id="id_anexoThree" value="{{objAuxilio.anexoThree}}">
        <input type="text" id="id_anexoFour" value="{{objAuxilio.anexoFour}}">
        <input type="text" id="id_anexoFive" value="{{objAuxilio.anexoFive}}">
        <input type="text" id="id_anexoSix" value="{{objAuxilio.anexoSix}}">
        <input type="text" id="id_anexoSeven" value="{{objAuxilio.anexoSeven}}">
        <input type="text" id="id_anexoEight" value="{{objAuxilio.anexoEight}}">

    </form>
{% elif formato == 4 %}
    <form style="display:none">
        <input type="text" id="id_formato" value="{{formato}}">
        <input type="date" id="id_fechaCorte" value="{{fechaCorte|date:"Y-m-d"}}">
        <input type="text" id="id_nombre" value="{{objAsoc.nombre}} {{objAsoc.apellido}}">
        <input type="text" id="id_numDoc" value="{{objAsoc.numDocumento}}">
        <input type="text" id="id_mpioResidencia" value="{{objResidencia.mpioResidencia}}">
        <input type="text" id="id_direccion" value="{{objResidencia.direccion}}">
        <input type="text" id="id_numCelular" value="{{objAsoc.numCelular}}">
        {% comment %} Valores a pagar {% endcomment %}
        {% comment %} Cuota Periodica {% endcomment %}
        <input type="text" id="id_concepto1" value="CUOTA {{mes.concepto}}">
        <input type="text" id="id_saldo" value="{{saldo}}">
        <input type="text" id="id_cuotaVencida" value="{{cuotaVencida}}">
        <input type="text" id="id_cuotaMes" value="{{cuotaPeriodica}}">
        <input type="text" id="id_totalConcepto1" value="{{valorVencido}}">
        {% comment %} Cuota Mascota {% endcomment %}
        <input type="text" id="id_concepto2" value="MASCOTA">
        <input type="text" id="id_cuotaMes2" value="{{objTarifaAsociado.cuotaMascota}}">
        <input type="text" id="id_totalConcepto2" {% if valorVencido == 0 %} value="0" {% else %} value="{{valorVencidoMasc}}"{% endif %}>
        {% comment %} Cuota Repatriacion {% endcomment %}
        <input type="text" id="id_concepto3" value="REPATRIACION">
        <input type="text" id="id_cuotaMes3" value="{{objTarifaAsociado.cuotaRepatriacion}}">
        <input type="text" id="id_totalConcepto3" {% if valorVencido == 0 %} value="0" {% else %} value="{{valorVencidoRep}}" {% endif %}>
        {% comment %} Cuota Seguro Vida {% endcomment %}
        <input type="text" id="id_concepto4" value="SEGURO VIDA">
        <input type="text" id="id_cuotaMes4" value="{{objTarifaAsociado.cuotaSeguroVida}}">
        <input type="text" id="id_totalConcepto4" {% if valorVencido == 0 %} value="0" {% else %} value="{{valorVencidoSeg}}" {% endif %}>
        {% comment %} Cuota Adicionales {% endcomment %}
        <input type="text" id="id_concepto5" value="ADICIONALES">
        <input type="text" id="id_cuotaMes5" value="{{objTarifaAsociado.cuotaAdicionales}}">
        <input type="text" id="id_totalConcepto5" {% if valorVencido == 0 %} value="0" {% else %} value="{{valorVencidoAdic}}" {% endif %}>
        {% comment %} Cuota Coohoperativitos {% endcomment %}
        <input type="text" id="id_concepto6" value="COOHOPERATIVITOS">
        <input type="text" id="id_cuotaMes6" value="{{cuotaCoohop}}">
        <input type="text" id="id_totalConcepto6" {% if valorVencido == 0 %} value="0" {% else %} value="{{valorVencidoCoohop}}" {% endif %}>
        <input type="text" id="id_pagoTotal" value="{{pagoTotal}}">
        <input type="text" id="id_vista" value="{{vista}}">
        <input type="text" id="id_mensaje" value="{{mensaje}}">
        <h2>Tabla Beneficiarios</h2>
        {% for beneficiarios in objBeneficiario %}
            <input type="text" id="id_nombreBenef_{{forloop.counter}}" value="{{beneficiarios.nombre}} {{beneficiarios.apellido}}">           
            <input type="text" id="id_parentesco_{{forloop.counter}}" value="{{beneficiarios.parentesco}}">
            <input type="text" id="id_paisRepatriacion_{{forloop.counter}}" value="{{beneficiarios.paisRepatriacion}}">
        {% endfor %}
        <input type="text" id="id_cuentaBeneficiario" value="{{cuentaBeneficiario}}">
        <h2>Tabla Mascotas</h2>
        {% for mascota in objMascota %}
            <input type="text" id="id_nombreMasc_{{forloop.counter}}" value="{{mascota.nombre}}">           
        {% endfor %}
        <input type="text" id="id_cuentaMascota" value="{{cuentaMascota}}">
    </form>
{% endif %}

{% block extrajs %}
<script>
    function documentoCargado(){
        let formato = document.getElementById('id_formato').value;
        if(formato == 3){
            llamarPDF(3, '{% static 'img/Formato_Bienestar_Social_page_0001.jpg' %}');
        }else if(formato == 4){
            llamarPDF(4, '{% static 'img/Formato_ExtractoPago_page_0001.jpg' %}');
        }
        setTimeout(function() { 
            // Redirige o carga contenido aquí después del tiempo de espera
            window.location.replace("{% url 'asociado:descargarFormatos' pkAsociado %}");
        }, 1000); // 1 segundos de espera
        
    }

    document.addEventListener('DOMContentLoaded', documentoCargado, false);
</script>
<script src="{% static 'js/function.js' %}"></script>
<script src="{% static 'lib/jspdf/1.3.4/jspdf.min.js' %}"></script>

{% endblock extrajs %}
