{% extends 'estructura/tabla.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    Asociados
{% endblock title %}

{% block button %}
    <a type="button" class="btn btn-outline-primary d-flex align-items-center justify-content-center" href="{% url 'asociado:crearAsociado' %}" style="width:40px">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
    </a>
{% endblock button %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'informacion:informacion' %}">Información</a></li>
    <li class="breadcrumb-item active" aria-current="page">Asociados</li>
{% endblock breadcrumb %}

    

{% block contenidoPagina %}
    <div class="card mb-4" style="border:0px">

        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Lista</a>
            </li>
        </ul>

        <div class="table-responsive">

            <table id="datatablesSimple" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Número Documento</th>
                        <th>hogarInfantil</th>
                        <th>Celular</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock contenidoPagina %}

{% block extrajsTable %}
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
{% endblock extrajsTable %}

{% block extrajs %}

    <script>
        $(document).ready(function() {
            $('#datatablesSimple').DataTable({
                "processing": true,
                "serverSide": true,
                "searchDelay": 500,  // Agregar un pequeño delay para evitar demasiadas peticiones
                "ajax": {
                    "url": "{% url 'asociado:asociado' %}",
                    "type": "GET",
                    "dataType": "json",
                    "data": function(d) {
                        d.search_value = d.search.value; // Valor de búsqueda
                    }
                },
                "columns": [
                    { "data": "id" },
                    { "data": "nombre_completo" },
                    { "data": "apellido_completo" },
                    { "data": "numDocumento" },
                    { "data": "hogarinfantil" },
                    { "data": "numCelular" },
                    { "data": "estadoAsociado" },
                    {
                        "data": "id",
                        "render": function(data, type, row) {
                            return `
                                <center>
                                    <a type="button" class="btn custom-btn" href="/informacion/verAsociado/${data}" title="Ver Asociado">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                        </svg>
                                    </a>
                                </center>
                            `;
                        },
                        "orderable": false, // No ordenar por esta columna
                        "searchable": false // No buscar por esta columna
                    }
                ],
                "order": [[0, "asc"]],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                },
            });
        });
    </script>
    
{% endblock extrajs %}



    





    