{% extends 'estructura/tabla.html' %}
{% load static %}

{% block title %}
    Asociados
{% endblock title %}

{% block button %}
    <a href="{% url 'asociado:crearAsociado' %}"><i class="fa-solid fa-plus"></i></a>
{% endblock button %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'informacion:informacion' %}">Información</a></li>
    <li class="breadcrumb-item active" aria-current="page">Asociados</li>
{% endblock breadcrumb %}

{% block submenu %}
    <br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Lista</a>
        </li>
    </ul>
{% endblock submenu %}

{% block tablaencabezado %}
    <tr>
        <th>ID</th>
        <th>N° Documento</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Hogar Infantil</th>
        <th>Estado</th>
        <th>Opciones</th>
    </tr>
{% endblock tablaencabezado %}

{% block tablafilas %}
    {% for obj in query %}
        <tr>
            <th>{{ obj.id }}</th>
            <th>{{ obj.numDocumento }}</th>
            <th>{{ obj.nombre1 }} {% if obj.nombre2 %} {{obj.nombre2}} {% endif %} </th>
            <th>{{ obj.apellido1 }} {{ obj.apellido2 }}</th>
            <th>{{ obj.hogarinfantil }}</th>
            <th>{{ obj.estadoAsociado }}</th>
            <th>
                <center><a type="button" class="btn btn-outline-primary" href="{% url 'asociado:verAsociado' obj.id %}"><i class="fa-solid fa-pen"></i></button>
            </th>
        </tr>
    {% endfor %}  
{% endblock tablafilas %}





    