<div class="modal-dialog modal-md" role="document">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Pago:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'proceso:editarPagoAsociado' pk pkAsociado %}" method="post">
                {% csrf_token %}
                {% comment %} input completo {% endcomment %}
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">Fecha Pago</span>
                  <input type="date" name="fechaPago" value="{{queryPago.fechaPago|date:"Y-m-d"}}" id="fechaPago" class="form-control" aria-label="Default select example" required>
                </div>
                {% comment %} input completo {% endcomment %}
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">Mes</span>
                  <select name="mesPago" id="mesPago" class="form-select" aria-label="Default select example" required>
                    <option value="0" selected>&nbsp;</option>
                    {% for mes in queryMes %}
                      <option value="{{mes.pk}}" {% if mes.pk == queryPago.mesPago.pk %} selected {% endif %}>{{ mes.concepto }}</option>
                    {% endfor %}
                  </select>
                </div>
                {% comment %} input completo {% endcomment %}
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">Forma de Pago</span>
                  <select name="formaPago" id="formaPago" class="form-select" aria-label="Default select example" required>
                    <option value="0" selected>&nbsp;</option>
                    {% for pago in queryFormaPago %}
                      <option value="{{pago.pk}}" {% if pago.pk == queryPago.formaPago.pk %} selected {% endif %}>{{ pago.formaPago }}</option>
                    {% endfor %}
                  </select>
                </div>
                {% comment %} input completo {% endcomment %}
                {% comment %} Valores {% endcomment %}
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">Valor Total</span>
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" value="{{queryPago.valorPago}}" id="valorPago" name="valorPago" value="{{ query.cuota }}" type="number" disabled>
                  <span class="input-group-text">
                    <a class="btn btn-outline-dark btn-sm" id="btn_editar" onclick="editarCasillasPago('editar1')" style="border:0px"><i class="fa-solid fa-pen"></i></a>
                    <a class="btn btn-outline-danger btn-sm" id="btn_no_editar" onclick="editarCasillasPago('no_editar1')" style="border:0px" hidden><i class="fa-solid fa-xmark"></i></a>
                  </span>
                </div>
                {% if diferencia > 0 or diferencia < 0 %}
                <hr>
                <h2 class="modal-title fs-5" id="exampleModalLabel">Observaciones</h2>
                <hr>               
                {% comment %} input completo {% endcomment %}
                  <hr>
                  <h2 class="modal-title fs-5" id="exampleModalLabel">Saldos</h2>
                  <hr>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3" {% if diferencia < 0 %}  style="color:#DF5B68" {% else %} style="color:#198754" {% endif %} ><b>{% if diferencia > 0 %}Saldo a Favor{% else %}Saldo a Pagar{% endif %}</b></span>
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="diferencia" value="{{diferencia}}" name="diferencia" type="number" disabled>
                    
                  </div>
                {% endif %}
                <hr>
                <button type="submit" class="btn btn-primary" onclick="editarCasillasPago('habilitar')"><i class="fa-solid fa-floppy-disk"></i></button>
            </form>
        </div>
      </div>
    </div>
  </div>