{% extends 'index.html' %}
{% load static %}

{% block title %}
    Reporte Descuentos por Nomina
{% endblock title %}
    
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'reportes:informacionReporte' %}">Reportes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Reporte Descuentos Nomina</li>
{% endblock breadcrumb %}

{% block contenidoPagina %}

    <div class="col-xl-12 col-md-12 mb-12">
        <div class="row">

                <form action="{% url 'reportes:descuentosNomina' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <p>Seleccione las opciones que desea descargar:</p>
                        <div class="col-xl-12 col-md-12 mb-12">
                            {% for empresa in empresas %}
                                {% if empresa.pk != 1 %}
                                    <div class="form-check form-check-inline">
                                            <input name="select{{empresa.pk}}" class="form-check-input" type="checkbox" id="inlineCheckbox{{empresa.pk}}" value="{{empresa.pk}}" 
                                            {% for check in arrayEmp %}
                                                {% if check == empresa.pk %}
                                                    checked
                                                {% endif %}
                                            {% endfor %}
                                                >
                                        <label class="form-check-label" for="inlineCheckbox{{empresa.pk}}">{{empresa.concepto}}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-xl-3 col-md-3 mb-3">
                            <button type="submit" class="btn btn-primary">Consultar</button>
                        </div>
                    </div>
                </form>
   
        </div>
        
    {% if post %}
    <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>    
                    <tr>
                        <th>N°</th>
                        <th>N° Documento Titular</th>
                        <th>Nombre Completo Titular</th>
                        <th>Empresa</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    
                        {% for asociado in array %}
                            {% for query in asociado %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <th>{{ query.asociado.numDocumento }}</th>
                                    <th>{{ query.asociado.nombre }} {{query.asociado.apellido}}</th>
                                    <th>{{ query.empresa.concepto}}</th>
                                    <th>{{ query.tarifaAsociado.total}}</th>
                                    <th></th>                                 
                                </tr>
                            {% endfor %}

                        {% empty %}
                            <tr>
                                <th colspan="6"><center>No existen datos en la consulta.</th> 
                            </tr>
                        {% endfor %}
                   
                </tbody>
            </table>
            
        </div>        
    </div>
    {% endif %}


{% endblock contenidoPagina %}




    

