{% load static %}
<head> 
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Coohobienestar</title>
    <link rel="icon" href="{% static 'img/icons/logo.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'img/icons/logo.png' %}" type="image/png" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="{% static 'lib/startbootstrap-sb-admin-gh-pages/css/styles.css' %} " rel="stylesheet" />
    <link href="{% static 'lib/bootstrap-5.2.3-dist/css/bootstrap.min.css' %} " rel="stylesheet" />
    <link href="{% static 'css/stylesPropios.css' %} " rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>