{% load static %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Coohobienestar</title>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{% comment %} <link rel="stylesheet" href="{% static 'lib/cdn/all.min.css' %}"> {% endcomment %}
{% comment %} Favicon {% endcomment %}
<link rel="icon" href="{% static 'img/icons/logo.png' %}" type="image/png" />
{% comment %} Estilos Bootstrap {% endcomment %}
<link href="{% static 'lib/startbootstrap-sb-admin-gh-pages/css/styles.css' %} " rel="stylesheet" />
{% comment %} Estilos Propios {% endcomment %}
<link href="{% static 'css/stylesPropios.css' %} " rel="stylesheet" />